* {
    background-color: black;
}

body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: black;
}

p, h1, label {
    color: white !important;
}

form {
    margin-bottom: 20px;
}

.contact-button {
    background-color: orange !important;
}

.sidebar-right-align {
    align-items: flex-end !important;
    text-align: right !important;
    width: 100%;
    margin-left: 0 !important;
}

.sidebar-right-align, 
.sidebar-right-align a, 
.sidebar-right-align .nav-link {
    color: white !important;
}

.nav-link {
    justify-content: flex-end !important;
    text-align: right;
    display: flex;
    width: 100%;
}

.nav-link.active {
    /*background-color: #ffcc00 !important;
    background-color: white !important; /* Change background color */
    color: orange !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: black !important;
}

.shutter-link {
    align-self: flex-end !important;
    text-align: right !important;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

.icon-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.uniform-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
